<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudedMinds</title>
    <!-- Bootstrap and Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">CloudedMinds</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Entries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="patients">Patients</a>
      </li>
    </ul>
  </nav>

    <div class="TitleBox" style="z-index:1">
      <span class="TitleSpan">CloudedMinds</span>
    </div>
    <p>Worries pass by like Clouds</p>

  <!-- The table to display patients' entries from the 'CloudedMinds' app -->
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Event</th>
        <th>Date</th>
        <th>Mood</th>
        <th>Mood Rating</th>
        <th>Catastrophised</th>
        <th>Over-Generalised</th>
        <th>Ignored the Positive</th>
        <th>Self-Critical</th>
        <th>Mind Read</th>
        <th>Changed Mood</th>
        <th>Changed Rating</th>
        <th></th>
      </tr>
    <thead>
   <tbody>
    <% for(var i=0; i< data.length; i++) {%>
      <tr>
        <td><%= data[i].user %></td>
        <td><%= data[i].event %></td>
        <td><%= data[i].date %></td>
        <td><%= data[i].mood %></td>
        <td><%= data[i].mood_rating %></td>
        <td><%= data[i].catastrophise %></td>
        <td><%= data[i].generalise %></td>
        <td><%= data[i].ignoring %></td>
        <td><%= data[i].self_critical %></td>
        <td><%= data[i].mind_reading %></td>
        <td><%= data[i].changed_mood %></td>
        <td><%= data[i].changed_rating %></td>
        <td><a href="/delete/<%= data[i].id %>" onclick="return confirm('Are you sure you wish to delete this entry?')">Delete</a> </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  </body>
</html>
